<div class="content">
    <div class="aura-banner">
        <img class="pc" src="<%= require('assets/images/aura/aura-banner.jpg') %>" alt="">
        <img class="m" src="<%= require('assets/images/aura/aura-banner-m.jpg') %>" alt="">
    </div>
    <div class="aura1 aura h900">
        <div class="w1184 clearfix pr">
            <div class="text wow fadeInLeft">
                <h3>Unique Appearance</h3>
                <p>Ergonomically and aesthetically all-in-one designed, exquisite and ultra handy</p>
                <p>Button-free inhale activated</p>
                <p>Translucent oil window </p>
                <p>Customized appearance</p>
            </div>
            <div class="img">
                <div class="pic pr">
                    <img class="pic1" src="<%= require('assets/images/aura/aura1-pic1.png') %>" alt=""/>
                    <img class="pic2" src="<%= require('assets/images/aura/aura1-pic2.png') %>" alt=""/>
                    <img class="pic3" src="<%= require('assets/images/aura/aura1-pic3.png') %>" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="aura2 aura h900">
        <div class="w1184 clearfix">
                <div class="text fr wow fadeInRight">
                        <h3>Great Performance</h3>
                        <p>Advanced ceramic guarantees even heat distribution, providing you with a  pure flavor</p>
                        
                        <p>Disposable & leak-proof design and no maintenance are needed</p>
                        <p>Medical-grade material</p>
                    </div>
            <div class="img fl">
                <img src="<%= require('assets/images/aura/aura2-pic1.png') %>" alt=""/>
            </div>
            
        </div>
    </div>
    <div class="aura3 aura h900">
        <div class="w1184 clearfix">
            <div class="text fl wow fadeInLeft">
                <h3>Product parameters</h3>
                <p>Dimension : 83*21*12mm</p>
                <p>Battery Capacity: 270mAh</p>
                <p>Weight:18g</p>
                <p>Output Wattage: 6W</p>
                <p>Capacity: 0.5ml</p>
                <p>Resistance: 1.7Ω</p>
                <h4>Customization Friendly</h4>
                <ul class="aura-slide-btn clearfix">
                    <li class="l1 cur">
                        <span></span>
                    </li>
                    <li class="l2">
                        <span></span>
                    </li>
                    <li class="l3">
                        <span></span>
                    </li>
                    <li class="l4">
                        <span></span>
                    </li>
                </ul>
            </div>
            <div id="aura-slide-img" class="img fr">
                <img src="<%= require('assets/images/aura/aura3-pic0.png') %>" alt=""/>
                <img src="<%= require('assets/images/aura/aura3-pic1.png') %>" alt=""/>
                <img src="<%= require('assets/images/aura/aura3-pic2.png') %>" alt=""/>
                <img src="<%= require('assets/images/aura/aura3-pic3.png') %>" alt=""/>
            </div>
        </div>
    </div>
</div>