<div class="content">
    <div class="hc1_banner">
        <picture>
            <source media="(min-width: 768px)" srcset="<%= require('assets/images/hc/hc2_banner.jpg') %>">
            <img src="<%= require('assets/images/hc/hc2_banner-m.jpg') %>" alt="">
        </picture>
    </div>
    <div class="hc1-2 hc2-2 hc">
        <div class="w1200">
            <span class="title title wow fadeInLeft">STANDARD MECHANICAL DESIGN</span>
            <span class="title_bot"></span>
            <p class="txt title wow fadeInLeft"><i></i>Standardized 510 thread, manufactured to fit <br>
            most batteries available</p>
            <p class="txt title wow fadeInLeft"><i></i>Customized oil intake hole of different viscosity</p>
            <p class="txt title wow fadeInLeft"><i></i>Easy top oil filling for both manual and mechanical operation</p>
            <img class="hc2-pic" isOpen="1" src="<%= require('assets/images/hc/hc2-pic.png') %>" alt=""/>
        </div>
    </div>
    <div class="hc1-3 hc2-3 hc">
        <div class="w1200">
            <div class="hc1-3_cont wow fadeInRight">
                <span class="title">JOYFUL USER EXPERIENCE</span>
                <p class="txt"><i></i>Unique-formulated heating element achieved 100% non-burning taste</p>
                <p class="txt"><i></i>Precise engineering design guarantees no leakage</p>
                <p class="txt"><i></i>Medical-grade material</p>
            </div>
            <img src="<%= require('assets/images/hc/smog.png') %>" alt="">
        </div>
    </div>
    <div class="hc1-4 hc2-4 hc">
        <div class="w1200">
            <span class="title wow fadeInLeft">PRODUCT PARAMETERS</span>
            <img src="<%= require('assets/images/hc/hc2-5_img.png') %>" alt="">
            <ul class="parameter wow fadeInLeft">
                <li><i>Dimension</i><span>φ10.5*62mm / φ10.5*52mm</span></li>
                <li><i>Capacity</i><span>1ml / 0.5ml</span></li>
                <li><i>Material</i><span>Plastic Housing</span></li>
                <li><i>Resistance</i><span>1.2Ω</span></li>
                <li><i>Oil intake hole</i><span>1.6, 1.8, 2.0, 2.2(mm)</span></li>
                <li><i>Mount</i><span>Riveting</span></li>
            </ul>
        </div>
    </div>
</div>