<div class="content">
	<div class="inbanner"></div>
	<div class="products">
		<div class="w1200">
			<div class="title">Products</div>
			<div class="list">
				<ul class="clearfix">
					<li>
						<div class="img">
							<img class="pic" src="<%= require('assets/images/index/products-pic1.jpg') %>" alt=""/>
							<img class="desc" src="<%= require('assets/images/index/products-desc1.png') %>" alt=""/>
							<img class="detail" src="<%= require('assets/images/index/products-detail1.png') %>" alt=""/>
						</div>
						<div class="text">
							<h3>Aura</h3>
							<a href="/html/aura.html">view more ></a>
						</div>
						<div class="small clearfix">
							<div class="small-list fl">
								<a href="/html/aura.html"><img src="<%= require('assets/images/index/list-small1-1.png') %>" alt=""/></a>
							</div>
							<div class="small-list fr">
								<a href="/html/aura.html"><img src="<%= require('assets/images/index/list-small1-2.png') %>" alt=""/></a>
							</div>
						</div>
					</li>
					<li>
						<div class="img">
							<img class="pic" src="<%= require('assets/images/index/products-pic2.jpg') %>" alt=""/>
							<img class="desc" src="<%= require('assets/images/index/products-desc2.png') %>" alt=""/>
							<img class="detail" src="<%= require('assets/images/index/products-detail2.png') %>" alt=""/>
						</div>
						<div class="text">
							<h3>HC1</h3>
							<a href="/html/hc1.html">view more ></a>
						</div>
						<div class="small clearfix">
							<div class="small-list fl">
								<a href="/html/hc1.html"><img src="<%= require('assets/images/index/list-small2-1.png') %>" alt=""/></a>
							</div>
							<div class="small-list fr">
								<a href="/html/hc1.html"><img src="<%= require('assets/images/index/list-small2-2.png') %>" alt=""/></a>
							</div>
						</div>
					</li>
					<li>
						<div class="img">
							<img class="pic" src="<%= require('assets/images/index/products-pic3.jpg') %>" alt=""/>
							<img class="desc" src="<%= require('assets/images/index/products-desc3.png') %>" alt=""/>
							<img class="detail" src="<%= require('assets/images/index/products-detail3.png') %>" alt=""/>
						</div>
						<div class="text">
							<h3>HC2</h3>
							<a href="/html/hc2.html">view more ></a>
						</div>
						<div class="small clearfix">
							<div class="small-list fl">
								<a href="/html/hc2.html"><img src="<%= require('assets/images/index/list-small3-1.png') %>" alt=""/></a>
							</div>
							<div class="small-list fr">
								<a href="/html/hc2.html"><img src="<%= require('assets/images/index/list-small3-2.png') %>" alt=""/></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>    
	<div class="technology">
		<div class="w1200 pr">
			<div class="title">
				<h3>innovation and technology</h3>
				<p>Advanced element formula and sophisticated manufacturing enable high consistency of flavor and potency for every single ultimate inhale experience.</p>
			</div>
			<div class="img tr pr">
				<div class="link clearfix">
					<span></span>
					<a href="/html/tech.html" class="btn">VIEW MORE</a>
				</div>
				<img src="<%= require('assets/images/index/technology.jpg') %>" alt="technology"/>
			</div>
			<div class="exhale">
				<img src="<%= require('assets/images/index/exhale.png') %>" alt="exhale"/>
			</div>
		</div>
	</div>
	<div class="brand">
		<div class="bgf clearfix">
			<div class="img fl">
				<img src="<%= require('assets/images/index/brand.jpg') %>" alt="brand"/>
			</div>
			<div class="text fl">
				<div class="t-wrap">
					<h3>Brand Story</h3>
					<p>Dopex, specializes in research & development of leading vaporization technology and heating element, committing itself to providing professional vaporization equipment of high quality in medical and wellness industry.</p><br/>
					<p>Innovation drives us to move towards industry-leading technology frontier and Dopex always adheres to evolving better product.</p>
					<a href="/html/about.html">view more... ></a>
				</div>
			</div>
		</div>
	</div>
</div>
