<div class="content">
    <div class="news-banner">
        <div class="w1200 clearfix">
            <div class="img fl">
                <img src="<%= require('assets/images/news/news-banner.jpg') %>" alt="What is CBD?"/>
            </div>
            <div class="text fr">
                <h4>What <br/>is <br/>CBD?</h4>
                <p>Cannabidiol (CBD) is a naturally occurring compound found in the resinous flower of cannabis, a plant with a rich history as a medicine going back thousands of years. <br><br>Today the therapeutic properties of CBD are being tested and confirmed by scientists and doctors around the world. A safe, non-addictive substance, CBD is one of more than a hundred 'phytocannabinoids', which are unique to cannabis and endow the plant with its robust therapeutic profile.</p>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="w1200">
            <h4>What is the benefits of CBD?</h4>
            <div class="wrap">
                <ul class="clearfix">
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list1.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Insomnia</h5>
                            <div class="desc">
                                <p>One of the most common effects of vaping CBD oil is minor drowsiness, especially when administered in higher doses. A study conducted in the early 1970’s reported sleep-inducing effects of CBD in rodents. In humans with insomnia, CBD has been shown to increase sleep time when taken in a dose of about 160 mg. In non-insomnia patients, a similar effect was observed at higher doses closer to 600 mg. In micro doses, CBD has </p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list2.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Anxiety</h5>
                            <div class="desc">
                                <p>Multiple double-blind studies have been conducted indicating that CBD can effectively treat anxiety. Studies using functional magnetic resonance imaging and single-photon emission computed tomography have confirmed the anxiolytic effect of CBD on the brain. These mood-regulating effects of cannabidiol can also be used to treat depression, according to another study conducted on rats. Researchers believe that CBD also has the potential to treat other forms of anxiety disorders such as OCD and PTSD.</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list3.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Psychosis</h5>
                            <div class="desc">
                                <p>A study from 1982 suggests that CBD could inhibit symptoms associated with psychosis. Later that year, it was observed that patients in a South African psychiatric hospital experienced much more frequent psychotic episodes when treated with cannabis low in cannabidiol. There have been additional studies showing how CBD can help reduce psychotic symptoms even in healthy individuals. In 1995, a case study indicated that CBD is also an effective and safe alternative treatment for schizophrenia. This has led researchers to believe that CBD can be instrumental in reducing effects of psychosis.</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list4.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Heart disease</h5>
                            <div class="desc">
                                <p>Further research on the anti-oxidative and anti-inflammatory properties of cannabidiol has shown it to prevent damage from cerebral ischemia, a form of heart disease that can lead to stroke. Additional studies on rodents have demonstrated the significant cardioprotective properties of CBD.</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list5.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Diabetes</h5>
                            <div class="desc">
                                <p>The anti-inflammatory effect of cannabidiol has led scientists to believe that it could be used as a therapeutic agent for the treatment of type 1 diabetes. There have been studies conducted using mice that showed an improvement in diabetic symptoms. In addition, CBD has been observed to attenuate many of the effects of high glucose.</p>
                                <p>ISA Scientific CEO Mark J. Rosenfeld M.S., P.h.D has stated, “Unlike insulin and other existing medications for diabetes, CBD may actually suppress, reverse and perhaps cure the disease.”</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list6.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Side effects from chemotherapy</h5>
                            <div class="desc">
                                <p>Nausea and vomiting were actually some of the first symptoms to be treated with medicinal cannabis in early clinical trials. By 1990, a survey showed that more than 44 percent of the members of the American Society of Clinical Oncology have recommended the use of cannabis to at least one chemotherapy patient. Studies conducted with rats support the idea that CBD can be equally effective in treating these symptoms. </p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list7.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Anti-oxidative <br/>and neuroprotective effects</h5>
                            <div class="desc">
                                <p>A study from the late 1990’s showed how CBD can reduce hydroperoxide-induced oxidative damage. This indicates the potential of cannabidiol to be an effective antioxidant and neuroprotectant. Additional studies have been done suggesting that CBD may also have therapeutic potential for treating symptoms associated with Alzheimer’s and Parkinson’s disease.</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list8.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Anti-inflammatory effects</h5>
                            <div class="desc">
                                <p>Multiple reports indicate the anti-inflammatory effect of cannabidiol in mice. The data suggest that CBD could be an effective treatment for arthritis due to its immunosuppressive and anti-inflammatory actions. It has also been found effective in treating sciatic nerve constriction.</p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="<%= require('assets/images/news/news-list9.jpg') %>" alt=""/>
                        </div>
                        <div class="text">
                            <h5>Epilepsy</h5>
                            <div class="desc">
                                <p>Brazilian research from 1973 showed that CBD actively reduced or blocked convulsions in rodents, which was confirmed by another study conducted a year later. </p>
                                <p>In another double-blind study, epileptic patients that</p>
                                <p>received 200-300 mg of CBD per day had fewer seizures.</p><br/>
                                <p>One of the most well-documented examples was a young girl named Charlotte Figi who suffered from Dravet’s Syndrome, a rare condition that conventional medication was not effective in treating. She was given a tincture derived from a very specific strain, known for its low-THC and high-CBD levels, which later became known as </p>
                                <p>Charlotte’s Web. Today Charlotte lives a healthy life, and her seizures have been drastically cut down to two or three a month, from around 300 seizures a week.</p>
                                <p>In June, 2018 the U.S. Food and Drug Administration approved Epidiolex, a CBD-based drug for treating</p>
                                <p>seizures in patients two years old and above. Epidiolex is the first drug to gain FDA approval </p>
                            </div>
                            <a href="javascript:;">More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>